@media only screen and (min-width:992px) and (max-width:1200px) {
    .banner-area {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .service-right p::after {

        left: -15px;
    }

    .faq-about h2 {

        padding-bottom: 10px;
    }

    .faq-accordion h2 {

        padding-bottom: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .header-top-icon {
        text-align: center;
    }

    .header-top-content {
        justify-content: center !important;
    }

    .header-top-icon {
        padding: 10px 0px 10px;
    }

    .header-area {
        padding: 10px 0px 10px;
    }

    .banner-area h1 {
        padding-bottom: 50px;
    }

    .banner-area {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .service-right p::after {
        left: -20px;
    }

    .service-left h2 {
        /* font-size: 36px; */
        font-size: 30px;
    }

    .about-content h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .footer-bottom-content {
        flex-direction: column-reverse;
        gap: 25px 0px;
    }

}

/* medium device or tablet layout */
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center !important;
    }

    .header-top-icon {
        text-align: center;
    }

    .header-top-content {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .header-area {
        padding: 5px 0px 5px;
    }

    .banner-slider h1 {
        font-size: 40px;
    }

    .header-top-content a {
        margin-right: 0px;
        margin: 5px 0px 5px;
    }

    .banner-area {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .banner-area h1 {
        padding-bottom: 30px;
    }

    .banner-area p {
        padding-bottom: 30px;
    }

    .border-btn {
        margin-left: 0px;
    }

    .about-area {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .counter-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .testimonial-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .single-testimonial h5 {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .single-testimonial h2 {
        padding-bottom: 10px;
    }

    .single-testimonial p {
        padding-bottom: 10px;
    }

    .faq-area {
        padding: 100px 0px 100px;
    }

    .faq-about h2 {
        padding-bottom: 20px;
    }

    .faq-accordion h2 {
        padding-bottom: 30px;
        padding-top: 60px;
    }

    .footer-bottom-nav {
        flex-direction: column;
    }

    .footer-bottom-content {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 20px;
    }

    .footer-bottom-content h5 {
        padding-bottom: 35px;
    }

    .footer-bottom-nav li {
        margin-left: 0px;
        padding: 10px 0px 10px;
    }

    /* about page */

    .breadcrumb-area {
        padding: 50px 0px 50px;
    }

    /* blog page */
    .blogs-meta {

        align-items: flex-start;
        flex-direction: column;
    }

    .blogs-meta-icon a {
        margin-right: 0px;
        margin: 10px 0px 10px;
    }

    .blogs-meta-icon {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    /* blog page */
    .popular-news {
        margin-top: 20px;
    }

    .follow-social {
        padding: 30px 0px 30px;
    }

    .follow-social {
        padding: 30px 0px 30px;
    }

    .follow-social h3 {
        padding: 20px 0px 20px;
    }

    .follow-social h3::after {
        bottom: 17px;
    }

}

/* mobile devices */
@media only screen and (max-width:410px) {
    .navbar-nav {
        text-align: center !important;
    }

    .projects-menu {
        flex-direction: column;
    }

    .projects-menu li {
        margin-right: 0px;
        padding: 10px 0px 10px;
    }

    .follow-social {
        padding: 30px 0px 30px;
    }

    .follow-social {
        padding: 30px 0px 30px;
    }

    .follow-social h3 {
        padding: 20px 0px 20px;
    }

    .follow-social h3::after {
        bottom: 17px;
    }

}