@media only screen and (min-width:992px) and (max-width:1200px) {

    .banner-area {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .service-right p::after {

        left: -15px;
    }

    .faq-about h2 {

        padding-bottom: 10px;
    }

    .faq-accordion h2 {

        padding-bottom: 10px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Inline #8 | http://127.0.0.1:5500/index.html */

    .header-top-icon {
        text-align: center;
    }

    .header-top-content {
        justify-content: center !important;
    }

    .header-top-icon {
        padding: 10px 0px 10px;
    }

    .header-area {
        /* padding: 32px 0px 32px; */
        padding: 10px 0px 10px;
    }

    .banner-area h1 {
        /* padding-bottom: 77px; */
        padding-bottom: 50px;
    }

    .banner-area {
        /* padding-top: 280px; */
        /* padding-bottom: 260px; */
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .service-right p::after {
        /* left: -50px; */
        left: -20px;
    }

    .service-left h2 {
        /* font-size: 36px; */
        font-size: 30px;
    }

    .about-content h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }

/* style.css | http://127.0.0.1:5500/assets/css/style.css */

.footer-bottom-content {
    flex-direction: column-reverse;
    gap: 25px 0px;
  }
  
}

/* mobile layout */
@media only screen and (max-width: 767px) {

    /* Inline #8 | http://127.0.0.1:5500/index.html */

    .header-top-icon {
        text-align: center;
    }

    .header-top-content {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .header-area {
        padding: 5px 0px 5px;
    }

    .banner-slider h1 {
        font-size: 40px;
    }


    /* style.css | http://127.0.0.1:5500/assets/css/style.css?_cacheOverride=1698212764279 */

    .header-top-content a {
        /* margin-right: 30px; */
        margin-right: 0px;
        margin: 5px 0px 5px;
    }

    .banner-area {
        /* padding-top: 280px; */
        /* padding-bottom: 260px; */
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .banner-area h1 {
        /* padding-bottom: 77px; */
        padding-bottom: 30px;
    }

    .banner-area p {
        /* padding-bottom: 74px; */
        padding-bottom: 30px;
    }

    .border-btn {
        margin-left: 0px;
    }

    .about-area {
        /* padding-top: 160px; */
        /* padding-bottom: 160px; */
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .counter-area {
        /* padding-top: 90px; */
        /* padding-bottom: 90px; */
        padding-top: 60px;
        padding-bottom: 60px;
    }


/* style.css | http://127.0.0.1:5500/assets/css/style.css */

.testimonial-area {
    /* padding-top: 140px; */
    /* padding-bottom: 125px; */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .single-testimonial h5 {
    /* padding-top: 20px; */
    /* padding-bottom: 80px; */
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .single-testimonial h2 {
    /* padding-bottom: 68px; */
    padding-bottom: 10px;
  }
  
  .single-testimonial p {
    /* padding-bottom: 39px; */
    padding-bottom: 10px;
  }
  
    /* style.css | http://127.0.0.1:5500/assets/css/style.css */

    .faq-area {
        /* padding: 120px 0px 120px; */
        padding: 100px 0px 100px;
    }

    .faq-about h2 {
        /* padding-bottom: 47px; */
        padding-bottom: 20px;
    }

    .faq-accordion h2 {
        /* padding-bottom: 47px; */
        padding-bottom: 30px;
        padding-top: 60px;
    }


    /* style.css | http://127.0.0.1:5500/assets/css/style.css */

    .footer-bottom-nav {
        flex-direction: column;
    }

    .footer-bottom-content {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 20px;
    }

    /* Inline #8 | http://127.0.0.1:5500/index.html */

    .footer-bottom-content h5 {
        padding-bottom: 35px;
    }

    .footer-bottom-nav li {
        margin-left: 0px;
        padding: 10px 0px 10px;
    }

}